.burger-close {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 12;
  left: 0px;
  transition: left 0.5s linear;
  -webkit-transition: left 0.5s linear;
  -moz-transition: left 0.5s linear;
  -ms-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
}

.burger-close-transition {
  left: 125px;
}

#toggle {
  display: none;
}

label {
  width: 30px;
  height: 4px;
  background-color: #c5bcbc;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -ms-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
}

label::after,
label::before {
  content: '';
  width: 30px;
  height: 4px;
  background-color: #c5bcbc;
  position: absolute;
  display: block;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

label::before {
  top: -250%;
  left: 0%;
}

label::after {
  bottom: -250%;
  left: 0%;
}

#toggle:checked ~ label {
  width: 0px;
}

#toggle:checked ~ label::before {
  transform: rotate(45deg);
  top: 0%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#toggle:checked ~ label::after {
  transform: rotate(-45deg);
  bottom: 0%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
