.start-btn {
  position: absolute;
  bottom: 115px;
  margin: 20px auto;
  padding: 5px 50px;
  border-radius: 5px;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  font-size: 35px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  width: 307px;
  height: 90px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 75%);
  transition: width linear 0.3s;
}

.start-btn:hover {
  box-shadow: 0px 6px 25px rgb(0 0 0 / 75%);
}

.repeat-btn {
  background-image: url(../../../public/repeat.svg), linear-gradient(40deg, #ffd86f, #fc6262);
  background-position: center;
  background-size: 60px 60px, cover;
  background-repeat: no-repeat;
  width: 90px;
  border-radius: 50%;
  padding: 5px;
  color: transparent;
  border: none;
}
