@import url(../style.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../donation-difference.css);
@import url(./panda.css);

.panda {
  background-image: url(../../../assets/icons/zoos/panda.svg);
}

.gorilla {
  background-image: url(../../../assets/icons/zoos/gorilla-active.svg);
}

.don-difference {
  grid-template-columns: 8.2fr 3.8fr;
}

.info__txt {
  grid-template-columns: 1161fr 239fr;
}

@media (max-width: 1400px) {
  .info__main {
    grid-template-columns: 6fr 6fr !important;
  }
}

@media (max-width: 550px) {
  .info__main_wrapper .info__main_head {
    margin-top: 20px !important;
  }

  .info__main_btn {
    margin-top: 30px;
    margin-left: calc(50vw - 120px);
  }
}
